* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(layered.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


/*h1 {
    padding: 9px;
    text-align: center;
    color: #fff;
    background-color: rgb(71, 201, 237);
}
*/

.homepg-menu {
    background-color: rgb(44, 14, 151);
    text-align: center;
}

.Greetings {
    margin-top: 50px;
}

.Greetings p {
    text-align: center;
    color: rgb(11, 99, 154);
    font-size: 30px;
    font-family: sans-serif bold;
}


/*#img1 {}

.vid-file {
    background-position: center;
}*/

.homepg-menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.homepg-menu ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.homepg-menu ul li a {
    text-decoration: none;
    color: white;
}

.active,
.homepg-menu ul li:hover {
    background: #6027e5;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.homepg-menu ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(67, 22, 165);
    margin-top: 15px;
    margin-left: 15px;
}

.homepg-menu ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.homepg-menu ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.homepg-menu ul li:hover .sub-menu-1 ul li {
    border-bottom: none;
}

.homepg-menu ul li:hover .sub-menu-1 ul li a:hover {
    color: #47dfbc;
}