body {
    background-image: url(layered.png);
    background-size: cover;
    background-position: center;
    font-family: Calibri, Helvetica, sans-serif;
   /* background-color: rgb(88, 14, 88); */
}
h1{
    text-align:center;
}

.container {
    padding: 50px;
    /* background-color: rgb(234, 19, 173); */
    background-color: rgb(46, 37, 37);
    color: white;
}

.homepg-menu {
    background-color: rgb(44, 14, 151);
    text-align: center;
}

.homepg-menu ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.homepg-menu ul li {
    width: 80px;
    margin: 15px;
    padding: 15px;
}

.homepg-menu ul li a {
    text-decoration: none;
    color: white;
}

.active,
.homepg-menu ul li:hover {
    background: #6027e5;
    border-radius: 3px;
}

.sub-menu-1 {
    display: none;
}

.homepg-menu ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(67, 22, 165);
    margin-top: 15px;
    margin-left: 15px;
}

.homepg-menu ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.homepg-menu ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.homepg-menu ul li:hover .sub-menu-1 ul li {
    border-bottom: none;
}

.homepg-menu ul li:hover .sub-menu-1 ul li a:hover {
    color: #47dfbc;
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: rgb(117, 14, 117);
    outline: none;
}

div {
    padding: 10px 0;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}
